th, td {
    width: 10cm;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    /*background-color: brown;*/
}

.frequencyValue {
    color: azure;
}

.frequencyText {
    color: gainsboro;
}

.center {
    margin: auto;
    text-align: center;
    display: block;
}

.error {
    color: red;
    font-size: 40;
    font-weight: bold;
}


table{
    color: azure;
    background-color: rgb(255, 149, 188);
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    border-radius: 10px;
    border-collapse: separate;
}

body, html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*background-color: pink;*/
    /*background-image: radial-gradient(circle, #ffc0cb 50%, #ffd3f6 100%);*/
    background: rgb(31,0,36);
    background: linear-gradient(00deg, rgba(31,0,36,1) 0%, rgba(252,144,255,1) 67%, rgba(228,174,219,1) 89%);   
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.loginBox {
    position: relative;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: palevioletred;
    width: 320px; /* Specify width */
    height: 200px; /* Specify height */
    padding: 40px 20px;
    border-radius: 10px;
    border: 2px solid black; /* Add border */
}

.inputLabel {
    float: left;
    font-weight: bold;
    color: azure;
}

input {
    float: right;
}

button {
    color: azure;
    font-weight: bold;
    background-color: deeppink;
}

.messageToUser {
    font-size: 16;
    color: aquamarine;
    font-weight: bold;
    
}

h1 {
    text-align: center;
    color: azure;
    font-weight: bolder;
}

h2 {
    text-align: center;
    color: azure;
    font-weight: bold;
}

.loginLogo {
    width: 16%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.interfaceLogo {
    width: 12%;
    height: auto;
    margin: -50 85%;
    display: block;
}

.graph{
    margin: auto;
}